.clear-all-facets {
    list-style: none;
    margin-bottom: 10px;
}

.clear-all-facets button {
    border: unset;
    outline: none;
    background-color: transparent;
    color: #ff0000;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.clear-all-facets button:hover {
    text-decoration: underline;
    color: #0000ff;
}

.checked-facets-display {
    list-style: none;
    margin: 10px 0 20px 0;
}

.checked-facets-display > button {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.checked-facets-display > button > span {
    display: inline-block;
    color: red;
    font-size: 1.5rem;
    transition: all 0.3s;
}

.checked-facets-display > button > span:hover {
    color: #0000ff;
}